@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Fira+Sans&display=swap');

body
{
	background:url("https://png.pngtree.com/thumb_back/fh260/background/20220614/pngtree-gradient-glassmorphism-horizontal-banner-abstract-image_1413361.jpg");
    background-size: 103%;
font-family: fira sans;
color: black;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 10px;
        border: solid;
        border-color: #c6aae4;
	}

	.login_div1:hover
	{
		color: white;
border-color: #9661cf;
transform: scale(1.0);
transition: .5s;
}

	.login_div2:hover
	{
		color: white;
border-color: #9661cf;
transform: scale(1.0);
transition: .5s;
	}











    #player1_name, #player2_name
{
	font-family: tahoma;
    display: inline-block;
	margin-left: 20px;
    }

    h1{
        font-family: dangrek;
        color:black;
        font-size: 40px;
    }
    h3{
        font-family: dangrek;
       color: black;
       font-size: 30px;
    }
    label{
        font-family: fira sans;
        color: black;
    font-size: 20px;
    }

    #button_Login{
        color: black;
    background: linear-gradient(#c6aae4, #dfbbda, aliceblue);
    border: solid;
    border-color:#c6aae4;
    font-size: 18px;
    font-weight: bold;
   height: 40px;
}

    #button_Login:hover{
        border-color: black;
        background: linear-gradient(aliceblue, #dfbbda, #c6aae4);
      
    }


